<settings>
	<setting id="uname" label="30000" type="text" default=""/>
	<setting id="pwd"   label="30001" type="text" option="hidden" default=""/>
	<setting id="whatson" label="30002" type="bool" default="true" />
	<setting id="video_stream" label="30003" type="enum" values="Mobile Quality|Low Quality|Standard Quality|High Quality" default="2" />
	<setting id="realname" label="30004" type="bool" default="true" />
	<setting id="autoupdate" label="30005" type="bool" default="false" />
	<setting id="BBC_One" label="3006" type="bool" default="true" />
	<setting id="BBC_Two" label="3007" type="bool" default="true" />
	<setting id="ITV1" label="3008" type="bool" default="true" />
	<setting id="Channel_4" label="3009" type="bool" default="true" />
	<setting id="Channel_5" label="3010" type="bool" default="true" />
	<setting id="ITV2" label="3011" type="bool" default="true" />
	<setting id="5USA" label="3012" type="bool" default="true" />
	<setting id="E4" label="3013" type="bool" default="true" />
	<setting id="ITV3" label="3014" type="bool" default="true" />
	<setting id="ITV4" label="3015" type="bool" default="true" />
	<setting id="More_4" label="3016" type="bool" default="true" />
	<setting id="BBC_Three" label="3017" type="bool" default="true" />
	<setting id="BBC_Four" label="3018" type="bool" default="true" />
	<setting id="Dave" label="3019" type="bool" default="true" />
	<setting id="5*" label="3020" type="bool" default="true" />
	<setting id="Film_4" label="3021" type="bool" default="true" />
	<setting id="BBC_News" label="3022" type="bool" default="true" />
	<setting id="CBBC_Channel" label="3023" type="bool" default="true" />
	<setting id="CITV" label="3024" type="bool" default="true" />
	<setting id="Channel_4_+1" label="3025" type="bool" default="true" />
	<setting id="E4_+1" label="3026" type="bool" default="true" />
	<setting id="ITV2_+1" label="3027" type="bool" default="true" />
	<setting id="CBeebies" label="3028" type="bool" default="true" />
	<setting id="4Music" label="3029" type="bool" default="true" />
	<setting id="Yesterday" label="3030" type="bool" default="true" />
	<setting id="More4_+1" label="3031" type="bool" default="true" />
	<setting id="ITV3_+1" label="3032" type="bool" default="true" />
	<setting id="ITV4_+1" label="3033" type="bool" default="true" />
	<setting id="Film4_+1" label="3034" type="bool" default="true" />
	<setting id="BBC_Parliament" label="3035" type="bool" default="true" />
	<setting id="QVC" label="3036" type="bool" default="true" />
	<setting id="Sky_News" label="3037" type="bool" default="true" />
	<setting id="Pick_TV" label="3038" type="bool" default="true" />
	<setting id="Viva" label="3039" type="bool" default="true" />
	<setting id="Ideal_World" label="3040" type="bool" default="true" />
	<setting id="Ideal_Extra" label="3041" type="bool" default="true" />
	<setting id="Ideal_&_More" label="3042" type="bool" default="true" />
	<setting id="Create_&_Craft" label="3043" type="bool" default="true" />
	<setting id="Al_Jazeera" label="3044" type="bool" default="true" />
	<setting id="Movies4Men" label="3045" type="bool" default="true" />
	<setting id="Movies4Men_2" label="3046" type="bool" default="true" />
	<setting id="Movies4Men_+1" label="3047" type="bool" default="true" />
	<setting id="Movies4Men_2_+1" label="3048" type="bool" default="true" />
	<setting id="ITV1+1" label="3049" type="bool" default="true" />
	<setting id="Red_Button" label="3050" type="bool" default="true" />
	<setting id="Really" label="3051" type="bool" default="true" />
	<setting id="Channel_AKA" label="3052" type="bool" default="true" />
	<setting id="Showcase_TV" label="3053" type="bool" default="true" />
	<setting id="Renault_TV" label="3054" type="bool" default="true" />
	<setting id="Greatest_Hits_TV" label="3055" type="bool" default="true" />
	<setting id="Clubbing_TV" label="3056" type="bool" default="true" />
	<setting id="BritAsia_TV" label="3057" type="bool" default="true" />
	<setting id="Vintage_TV" label="3101" type="bool" default="true" />
	<setting id="Quest" label="3110" type="bool" default="true" />
	<setting id="Challenge" label="3111" type="bool" default="true" />
	<setting id="Channel_5_+_1" label="3112" type="bool" default="true" />
	<setting id="5*_+_1" label="3113" type="bool" default="true" />
	<setting id="5USA_+_1" label="3114" type="bool" default="true" />
	<setting id="RT_English" label="3115" type="bool" default="true" />
	<setting id="ITV1_HD" label="3123" type="bool" default="true" />
	<setting id="NHK_World_HD" label="3109" type="bool" default="true" />
	<setting id="Did_you_know_there's_a_new_version_of_the_plugin_with_a_full_EPG." label="3067" type="bool" default="true" />
	<setting id="<br_/>BBC_One" label="3068" type="bool" default="true" />
	<setting id="<br_/>BBC_Two" label="3069" type="bool" default="true" />
	<setting id="<br_/>ITV1" label="3070" type="bool" default="true" />
	<setting id="<br_/>Channel_4" label="3071" type="bool" default="true" />
	<setting id="<br_/>Channel_5" label="3072" type="bool" default="true" />
	<setting id="<br_/>ITV1+1" label="3073" type="bool" default="true" />
	<setting id="<br_/>Channel_4_+1" label="3074" type="bool" default="true" />
	<setting id="<br_/>Channel_5_+_1" label="3075" type="bool" default="true" />
	<setting id="<br_/>BBC_Three" label="3076" type="bool" default="true" />
	<setting id="<br_/>BBC_Four" label="3077" type="bool" default="true" />
	<setting id="<br_/>ITV2" label="3078" type="bool" default="true" />
	<setting id="<br_/>ITV2_+1" label="3079" type="bool" default="true" />
	<setting id="<br_/>ITV3" label="3080" type="bool" default="true" />
	<setting id="<br_/>ITV3_+1" label="3081" type="bool" default="true" />
	<setting id="<br_/>ITV4" label="3082" type="bool" default="true" />
	<setting id="<br_/>ITV4_+1" label="3083" type="bool" default="true" />
	<setting id="<br_/>E4" label="3084" type="bool" default="true" />
	<setting id="<br_/>E4_+1" label="3085" type="bool" default="true" />
	<setting id="<br_/>More_4" label="3086" type="bool" default="true" />
	<setting id="<br_/>More4_+1" label="3087" type="bool" default="true" />
	<setting id="<br_/>Film_4" label="3088" type="bool" default="true" />
	<setting id="<br_/>Film4_+1" label="3089" type="bool" default="true" />
	<setting id="<br_/>4seven" label="3090" type="bool" default="true" />
	<setting id="<br_/>Dave" label="3091" type="bool" default="true" />
	<setting id="<br_/>5USA" label="3092" type="bool" default="true" />
	<setting id="<br_/>5USA_+_1" label="3093" type="bool" default="true" />
	<setting id="<br_/>5*" label="3094" type="bool" default="true" />
	<setting id="<br_/>5*_+_1" label="3095" type="bool" default="true" />
	<setting id="<br_/>CBBC_Channel" label="3096" type="bool" default="true" />
	<setting id="<br_/>CBeebies" label="3097" type="bool" default="true" />
	<setting id="<br_/>CITV" label="3098" type="bool" default="true" />
	<setting id="<br_/>Pick_TV" label="3099" type="bool" default="true" />
	<setting id="<br_/>Challenge" label="3100" type="bool" default="true" />
	<setting id="<br_/>Quest" label="3101" type="bool" default="true" />
	<setting id="<br_/>Yesterday" label="3102" type="bool" default="true" />
	<setting id="<br_/>Really" label="3103" type="bool" default="true" />
	<setting id="<br_/>Red_Button" label="3104" type="bool" default="true" />
	<setting id="<br_/>BBC_News" label="3105" type="bool" default="true" />
	<setting id="<br_/>BBC_Parliament" label="3106" type="bool" default="true" />
	<setting id="<br_/>Sky_News" label="3107" type="bool" default="true" />
	<setting id="<br_/>Al_Jazeera" label="3108" type="bool" default="true" />
	<setting id="<br_/>Clubbing_TV" label="3109" type="bool" default="true" />
	<setting id="<br_/>BritAsia_TV" label="3110" type="bool" default="true" />
	<setting id="<br_/>4Music" label="3111" type="bool" default="true" />
	<setting id="<br_/>Viva" label="3112" type="bool" default="true" />
	<setting id="<br_/>Channel_AKA" label="3113" type="bool" default="true" />
	<setting id="<br_/>Vintage_TV" label="3114" type="bool" default="true" />
	<setting id="<br_/>Movies4Men" label="3115" type="bool" default="true" />
	<setting id="<br_/>Movies4Men_+1" label="3116" type="bool" default="true" />
	<setting id="<br_/>QVC" label="3117" type="bool" default="true" />
	<setting id="<br_/>Ideal_World" label="3118" type="bool" default="true" />
	<setting id="<br_/>Create_&_Craft" label="3119" type="bool" default="true" />
	<setting id="<br_/>Ideal_&_More" label="3120" type="bool" default="true" />
	<setting id="<br_/>Ideal_Extra" label="3121" type="bool" default="true" />
	<setting id="<br_/>Paralympics_1" label="3122" type="bool" default="true" />
	<setting id="<br_/>Paralympics_2" label="3123" type="bool" default="true" />
	<setting id="<br_/>Paralympics_3" label="3124" type="bool" default="true" />
	<setting id="<br_/>" label="3125" type="bool" default="true" />
</settings>
