<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>

  <!-- General -->
  <category label="30001">
    <setting id="ordermode" type="enum" label="30101" default="0" values="listeners|name" />
    <setting id="orderby" type="enum" label="30102" default="1" values="asc|desc" />
    <setting id="numresults" type="enum" label="30103" values="20|40|60|80|100" default="0" />
  </category>

</settings>
