<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <setting id="computers"   type="enum" label="30100" default="0" lvalues="30101|30102|30103|30104|30105"  />

    <setting id="separator"   type="sep" />

    <setting id="comp_1_name" type="text" label="30201" default="Computer #1" />
    <setting id="comp_1_mac"  type="text" label="30202" default="00-00-00-00-00-00" />

    <setting id="separator"   type="sep" />

    <setting id="comp_2_name" type="text" label="30201" enable="gt(-5,0)" default="Computer #2" />
    <setting id="comp_2_mac"  type="text" label="30202" enable="gt(-6,0)" default="00-00-00-00-00-00" />
    
    <setting id="separator"   type="sep" />

    <setting id="comp_3_name" type="text" label="30201" enable="gt(-8,1)" default="Computer #3" />
    <setting id="comp_3_mac"  type="text" label="30202" enable="gt(-9,1)" default="00-00-00-00-00-00" />

    <setting id="separator"   type="sep" />

    <setting id="comp_4_name" type="text" label="30201" enable="gt(-11,2)" default="Computer #4" />
    <setting id="comp_4_mac"  type="text" label="30202" enable="gt(-12,2)" default="00-00-00-00-00-00" />

    <setting id="separator"   type="sep" />

    <setting id="comp_5_name" type="text" label="30201" enable="gt(-14,3)" default="Computer #5" />
    <setting id="comp_5_mac"  type="text" label="30202" enable="gt(-15,3)" default="00-00-00-00-00-00" />
</settings>
