<settings>
   <category label="Menus">
	<setting id="hide-homepage" type="bool" label="30100" default="false"/>
	<setting id="use-meta" type="bool" label="30101" default="true"/>
	<setting id="flatten-single-season" type="bool" label="30102" default="true"/>
	<setting id="flatten-source-type" type="bool" label="30103" default="true"/>
	<setting id="stack-multi-part" type="bool" label="30106" default="true" visible="false"/>
   </category>
   <category label="Accounts">
	<setting id="megaupload-account" type="bool" label="30200" default="false" visible="false"/>
	<setting id="megaupload-username" type="text" label="30201" default="" enable="!eq(-1,false)" visible="false"/>
	<setting id="megaupload-password" type="text" label="30202" default="" option="hidden" enable="!eq(-2,false)" visible="false"/>
    <setting id="prefer-megavideo" type="bool" label="30204" default="false" visible="false"/>
      <setting id="rapidshare-account" type="bool" label="30210" default="false"/>
      <setting id="rapidshare-username" type="text" label="30211" default="" enable="!eq(-1,false)"/>
      <setting id="rapidshare-password" type="text" label="30212" default="" option="hidden" enable="!eq(-2,false)"/>
      	<setting id="hide-successful-login-messages" type="bool" label="30250" default="false" />
   </category>
   <category label="Downloads">
	<setting id="download-folder" type="folder" label="30300" default=""/>
        <setting id="use-special-structure" type="bool" label="30301" default="true"/>
        <setting id="delete-incomplete-downloads" type="bool" label="30302" default="true"/>
   </category>
   
      <category label="Icefilms">
       <setting id="icefilms-url" type="text" label="30400" default="http://www.icefilms.info/" />
   </category>
</settings>