<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<settings>
    <setting id="annotations" value="false" />
    <setting id="categories" value="true" />
    <setting id="contacts" value="true" />
    <setting id="debug" value="false" />
    <setting id="disco" value="true" />
    <setting id="download_path" value="" />
    <setting id="downloads" value="true" />
    <setting id="explore" value="true" />
    <setting id="favorites" value="true" />
    <setting id="feeds" value="true" />
    <setting id="hd_videos" value="2" />
    <setting id="hd_videos_download" value="0" />
    <setting id="history" value="true" />
    <setting id="lang_code" value="0" />
    <setting id="liked" value="true" />
    <setting id="list_view" value="0" />
    <setting id="live" value="true" />
    <setting id="movies" value="true" />
    <setting id="music" value="true" />
    <setting id="notification_length" value="2" />
    <setting id="perpage" value="6" />
    <setting id="playlists" value="true" />
    <setting id="preferred" value="true" />
    <setting id="recommended" value="true" />
    <setting id="region_id" value="0" />
    <setting id="safe_search" value="0" />
    <setting id="saved_searches" value="3" />
    <setting id="search" value="true" />
    <setting id="shows" value="true" />
    <setting id="subscriptions" value="true" />
    <setting id="timeout" value="3" />
    <setting id="trailers" value="true" />
    <setting id="transcode" value="false" />
    <setting id="uploads" value="true" />
    <setting id="user_password" value="" />
    <setting id="userlist1" value="http://gdata.youtube.com/feeds/api/playlists/PLKSyUITbQzommRhc0-LsG1euXgU_QK-qu" />
    <setting id="userlist10" value="http://gdata.youtube.com/feeds/api/playlists/PL12C0C916CECEA3BC" />
    <setting id="userlist2" value="http://gdata.youtube.com/feeds/api/playlists/" />
    <setting id="userlist3" value="http://gdata.youtube.com/feeds/api/playlists/" />
    <setting id="userlist4" value="http://gdata.youtube.com/feeds/api/playlists/" />
    <setting id="userlist5" value="http://gdata.youtube.com/feeds/api/playlists/" />
    <setting id="userlist6" value="http://gdata.youtube.com/feeds/api/playlists/" />
    <setting id="userlist7" value="http://gdata.youtube.com/feeds/api/playlists/" />
    <setting id="userlist8" value="http://gdata.youtube.com/feeds/api/playlists/" />
    <setting id="userlist9" value="http://gdata.youtube.com/feeds/api/playlists/" />
    <setting id="username" value="" />
    <setting id="watch_later" value="true" />
    <setting id="firstrun" value="1" />
</settings>
